.generate-users{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: row;
    background-color: #858585;
    padding: 10px;
    border-radius: 25px;
}
.generate-users p{
    flex: 1;
    font-size: 12px;
    color: #000000;
    padding: 10px;
    margin: 0;
    letter-spacing: 2px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}